# Database connection URL (Connects to VPS or local PostgreSQL)
DATABASE_URL="postgresql://zk_user:password@vps-domain.com:5432/zk_attendance?schema=public"

# ZKTeco Hardware Terminal Configuration
ZKTECO_IP="192.168.1.201"
ZKTECO_PORT=4370
ZKTECO_TIMEOUT=10000

# Cron & Timezone
SYNC_INTERVAL_CRON="*/15 * * * *"
TIMEZONE="Africa/Casablanca"
